/* Generic Stylesheet for Mobile App */
/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PoetsenOne-Regular' , 'Allerta Stencil' , sans-serif, serif;
}
body {
    background-color: #888  ;
    color: #7cb72a;
}
p {
    color: #333;
    font-size: 2em;
    padding-top: 25px;
}
div#container {
    overflow: auto;
    text-align: center;
    width: 100%;
}
header {
    text-align: center;
    width: 100%;
    background-color: #333;
}
header h1,h2 {
    text-align: center;
    color: #7cb72a;
    font-size: 5em;
    border-top: 6px solid #7cb72a;
}
h3 {
    background-color: black;
    border-bottom: 6px solid #7cb72a;
}
div#content {
    overflow: auto;
    text-align: center;
    width: 100%;
    background-color: #888;
    font-size: 2em;
    color: #7cb72a;
    border-bottom: 6px solid #7cb72a;
}
img#Image {
    display: block;
    margin: auto;
    width: 100px;
    background-color: #888;
}
div#space {
    width: 100%;
    background-color: #888;
    margin: auto;
    padding: 25px;
}
.icon-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    overflow: auto;
}
.icon-bar a {
    float:left;
    text-decoration: none;
    width: 20%;
    text-align: center;
    transition: all 0.3s ease;
    color: #7cb72a;
    font-size: 42px;
}
.icon-bar a:hover {
    color: #fff;
    background-color: #7cb72a;
}
.active {
    background-color: #888;
}
/* Products and search bar */
.products {
    text-align: justify;
    margin: auto;
    position: absolute;
    width: 100%;
    background-color: #888;
    overflow: auto;
}
.products a {
    margin-bottom: 10%;
    text-align: center;
    float: left;
    text-decoration: none;
    width: 9%;
    padding-top: 1.75%;
    padding-left: 1.75%;
    padding-right: 1.75%;
    padding-bottom: 1.75%;
    transition: all 0.3s ease;
    color: #7cb72a;
    font-size: 36px;
}
.products a:hover {
    background-color: #7cb72a;
    color: #333;
}
.products a img {
    margin: auto;
    display: block;
    width: 80%;
}
.caption {
    vertical-align: bottom;
    text-align: center;
    width: 100%;
}
input {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}
input[type=submit] {
    background-color: #7cb72a;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #5cb72a;
}

@media screen and (max-width: 900px) {
    .products a {
        text-align: center;
        float: left;
        text-decoration: none;
        width: 29%;
        padding-top: 2.16%;
        padding-left: 2.16%;
        padding-right: 2.16%;
        padding-bottom: 2.16%;
        transition: all 0.3s ease;
        color: #7cb72a;
        font-size: 36px;
    }
    legend, input {
        width: 90%;
    }
}
/* nav {
    width: 100%; 
    background-color: dimgrey;
    font-size: 2em;
}
nav ul {
    width: 25%;
    margin: auto; 
    list-style: none;
}
nav ul li a {
    float: left;
    text-align: center; 
    display: block;
    margin: auto;
    padding: 5px 15px;
    border-right: #7cb72a;
    color: #7cb72a;
    text-decoration: none;
}
nav ul li a:hover {
    color: #fff;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    font-size: 1em;
    color: #7cb72a;
}
div.keepOpen {
    clear: both;
}
@media screen and (max-width: 600px) {
    div#container{
        width:100%;
    }
    nav ul li a{
        float: none;
        text-align: center;
    }
} */