/* Generic Stylesheet for Mobile App */
/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: 'PoetsenOne-Regular' , 'Allerta Stencil' , sans-serif, serif;
}
body {
    background-color: white;
    color: #7cb72a;
}
div#container {
    width: 1200px;
    height: 800px;
    border: 3px solid cadetblue;
    background-color: sienna;
}
header {
    width: 96.65%;
    padding: 20px;
    background-color: #333;
}
header h1 {
    color: #7cb72a;
    font-size: 10em;
}
div#content {
    width: 96.65%;
    padding: 20px;
    background-color: black;
    font-size: 2em;
    color: #7cb72a;
}
nav#nav {
    background-color: dimgrey;
    font-size: 2em;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
    padding: 5px 15px;
}
nav ul li a {
    color: #7cb72a;
    text-decoration: none;
}
nav ul li a:hover {
    color: #fff;
}
footer {
    width: 100%;
    height: 200px;
    background-color: gray;
    font-size: 2em;
    color: #7cb72a;
}
div.keepOpen {
    clear: both;
}