/* Generic Stylesheet for Mobile App */
/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: 'PoetsenOne-Regular' , 'Allerta Stencil' , sans-serif, serif;
}
body {
    border-top: 3px solid #7cb72a;
    background-color: #888  ;
    color: #7cb72a;
}
div#container {
    text-align: center;
    width: 100%;
    border-top: 3px solid #7cb72a;
    border-bottom: 3px solid #7cb72a;
}
header {
    text-align: center;
    width: 100%;
    background-color: #333;
}
header h1,h2 {
    text-align: center;
    color: #7cb72a;
    font-size: 5em;
}
div#content {
    text-align: center;
    width: 100%;
    background-color: black;
    font-size: 2em;
    color: #7cb72a;
}
img#Image {
    display: block;
    margin: auto;
    width: 10%;
    background-color: #888;
}
.icon-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    overflow: auto;
}
.icon-bar a {
    float:left;
    text-decoration: none;
    width: 16.6%;
    text-align: center;
    transition: all 0.3s ease;
    color: #7cb72a;
    font-size: 42px;
}
.icon-bar a:hover {
    color: #fff;
    background-color: #7cb72a;
}
.active {
    background-color: #888;
}
/* Products and search bar */
.products {
    text-align: justify;
    margin: auto;
    position: absolute;
    width: 100%;
    background-color: #888;
    overflow: auto;
}
.products a {
    text-align: justify;
    float: left;
    text-decoration: none;
    width: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    color: #7cb72a;
    font-size: 36px;
}
.products a img {
    display: block;
    width: 100px;
}
.caption {
    vertical-align: bottom;
    text-align: center;
    width: 100%
}
/* nav {
    width: 100%; 
    background-color: dimgrey;
    font-size: 2em;
}
nav ul {
    width: 25%;
    margin: auto; 
    list-style: none;
}
nav ul li a {
    float: left;
    text-align: center; 
    display: block;
    margin: auto;
    padding: 5px 15px;
    border-right: #7cb72a;
    color: #7cb72a;
    text-decoration: none;
}
nav ul li a:hover {
    color: #fff;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    font-size: 1em;
    color: #7cb72a;
}
div.keepOpen {
    clear: both;
}
@media screen and (max-width: 600px) {
    div#container{
        width:100%;
    }
    nav ul li a{
        float: none;
        text-align: center;
    }
} */